
/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

/* General Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Lexend Deca", sans-serif;
}

.main {
    height: 100%;
    width: 100%;
    background-color: #F5EFFF;
    position: relative;
}

.wrapper {
    width: 500px;
    padding: 20px 32px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #A294F9;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.176) 0px 4px 12px;

}

.wrapper h2 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #F5EFFF;
    margin-bottom: 18px;
}

.input-info {
    width: 100%;
}

.input-info .input-box {
    width: 100%;
    padding: 6px 8px 6px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    background-color: #F5EFFF;
    border-radius: 8px;

}

.input-box input::placeholder {
    font-size: 17px;
    font-weight: 600;
    color: #b2b0b8;
}

.input-box input {
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: #5C4B99;
    background-color: transparent;
   
}

.input-box button {
    height: 35px;
    padding: 6px 14px;
    border: none;
    background-color: #A294F9;
    color: #F5EFFF;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: backgound-color 0.3s ease;
}

.input-box button:hover {
    background-color: #8F87F1;
}

.task-list .task-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.wrapper .task-list .task-item {
    list-style: none;
    margin-top: 18px;
    padding: 10px 18px;
    border: 1px solid #bbbb;
    background-color: #F5EFFF;
    border-radius: 8px;
}

.wrapper .task-list .task-item p {
    font-size: 17px;
    font-weight: 600;
    color: #8F87F1;
}

.task-list .task-item button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
}

.task-list .task-item button i {
    color: #8F87F1;
}



















 



















